.purchase-complete {
    .entry-method {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -10px;
        li {
            width: 50%;
            @media screen and (max-width: $mobile){
                margin-bottom: 20px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        dl {
            height: 100%;
            margin: 0 10px;
            dt {
                .entry-number {
                    padding: 5px 0;
                    margin: -20px -20px 0;
                    color: #FFF;
                }
                .text-icon-dark-blue {
                    border-radius: 11px;
                    margin-right: 5px;
                }
                strong {
                    line-height: 22px;
                }
            }
        }
    }
    .button-area {
        margin-top: 40px;
    }
    .print-button {
        @media screen and (max-width: $tablet){
            display: none;
        }
    }
}