.screen {
    visibility: hidden;
    position: relative;
    overflow: hidden;
    .screen-scroll {
        height: 500px;        
    }
    .screen-inner {
        position: relative;
        width: 1600px;
        height: 1400px;
    }
    .seat {
        position: absolute;
        text-align: center;
        a {
            font-weight: bold;
            display: block;
            color: #9a9a9b;
            padding-top: 20px;
            background-image: url(/images/theater/seat/normal.svg);
            background-size: 40px 50px;
            background-repeat: no-repeat;
            &.active {
                color: #FFF;
                background-image: url(/images/theater/seat/normal_active.svg);
            }
            &.disabled {
                color: #FFF;
                background-image: url(/images/theater/seat/normal_disabled.svg);
                cursor: default;
            }
            span {
                display: none;
            }
        }
    }
    .seat-hc {
        a {
            background-image: url(/images/theater/seat/hc_disabled.svg) !important;
            background-size: 40px 50px;
            span {
                display: none !important;
            }
        }
    }
    .object {
        position: absolute;
        background-repeat: no-repeat;
    }
    .label-object {
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        color: #9a9a9b;
        font-weight: bold;
    }   
}
.seat-info {
    .seat {
        margin: 0 10px;
        position: relative;
        padding-left: 24px;
        @media screen and (max-width: $mobile) {
            margin: 0 5px;
            font-size: 12px;
        }
        &:before {
            width: 16px;
            height: 20px;
            content: '';
            display: block;
            background-image: url(/images/theater/seat/normal.svg);
            background-size: 16px 20px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -10px;
        } 
    }
    .active {
        &:before {
            background-image: url(/images/theater/seat/normal_active.svg);
        }
    }
    .disabled {
        &:before {
            background-image: url(/images/theater/seat/normal_disabled.svg);
        }
    } 
} 
.screen-4dx {
    .seat {
        a {
            background-image: url(/images/theater/seat/4dx.svg);
            background-size: 50px 50px;
            &.active {
                color: #FFF;
                background-image: url(/images/theater/seat/4dx_active.svg);
            }
            &.disabled {
                color: #FFF;
                background-image: url(/images/theater/seat/4dx_disabled.svg);
                cursor: default;
            }
            span {
                display: none;
            }
        }
    }
    .seat-info {
        .seat {
            &:before {
                width: 20px;
                height: 20px;
                content: '';
                display: block;
                background-image: url(/images/theater/seat/4dx.svg);
                background-size: 20px 20px;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -10px;
            } 
        }
        .active {
            &:before {
                background-image: url(/images/theater/seat/4dx_active.svg);
            }
        }
        .disabled {
            &:before {
                background-image: url(/images/theater/seat/4dx_disabled.svg);
            }
        } 
    } 
}
.screen-cover {
    .device-type-sp {
        display: none;
    }
    @media screen and (max-width: 768px) {
        .device-type-sp {
            display: block;
        }
        .device-type-pc {
            display: none;
        }
    }
}
.zoom {
    .screen-scroll {
        overflow: auto;
        transition: transform 0.2s;
        -webkit-overflow-scrolling: touch;
    }
    .seat {
        a {
            span {
                display: block;
            }
        }
    }
}
