.purchase-mvtk-input {
    .clone {
        display: none;
    }
    .add-button {
        a {
            padding: 22px 0;
        }
    }
    .ticket-list {
        .mvtk-box {
            display: none;
            &.active {
                display: block
            }         
        }
        .zoom {
            -webkit-animation: zoom 0.2s;
            animation: zoom 0.2s;
        }
        .form-layout {
            li {
                position: relative;
                dl {
                    dt {
                        width: 250px;
                    }
                    dd {
                        width: 370px;
                    }
                }
            }
            .read-button {
                position: absolute;
                top: 10px;
                right: 0;
                a {
                }
            }
            .remove-button {
                position: absolute;
                bottom: 10px;
                right: 0;
                a {
                }
            }
        }
    }
}