<% layout('../layout') -%>

<div class="performance">
    <h1 class="page-ttl">performance</h1>
    <p class="read">選択してください</p>

    <div>
        <ul class="box bg-light-gray">
            <% for (let i = 0; i < 5; i++) { %>
                <li>
                    <dl>
                        <dt>鑑賞日時 / スクリーン</dt>
                        <dd>20161205 1230 / シネマサンシャイン池袋 スクリーン2</dd>
                        <dt>作品名</dt>
                        <dd>君の名は</dd>
                    </dl>
                    <div class="button blue-button">
                        <a href="<%- url('purchase.seatSelect') %>">選択</a>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>
</div>