<% layout('../layouts/layout') -%>
<% block('script', '<script src="/js/moment.js"></script>') -%>
<% block('script', '<script src="/js/performance.js"></script>') -%>
<div class="performance">
    <h1 class="page-ttl">performance</h1>
    <p class="read">選択してください</p>
    <div class="mb-medium date">
        <select>
            <% for (let i = 0; i < 10; i++) { %>
            <% if (moment().add((i - 5), 'days').format('YYYYMMDD') === moment().format('YYYYMMDD')) { %>
            <option selected value="<%= moment().add((i - 5), 'days').format('YYYYMMDD') %>"><%= moment().add((i - 5), 'days').format('YYYY年MM月DD日') %></option>
            <% } else { %>
            <option value="<%= moment().add((i - 5), 'days').format('YYYYMMDD') %>"><%= moment().add((i - 5), 'days').format('YYYY年MM月DD日') %></option>
            <% } %>
            <% } %>
        </select>
    </div>
    <div class="mb-medium search button blue-button"><a href="#">検索</a></div>
    <div>
        <ul class="box bg-light-gray performances"></ul>
    </div>
</div>