<% if (viewType === 'app') { %>
<header class="header">
    <div class="close"><a href="<%- appSiteUrl %>/#/purchase"><%= __('common.close') %></a></div>
</header>
<% } else { %>
<header class="header clearfix">
    <div class="inner">
        <div class="logo"><a href="<%- portalSite %>"><img src="/images/default/common/logo.svg" alt="<%- __('header.logo') %>"></a></div>
    </div>
</header>
<% } %>
