* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    width: 100%;
    min-width: 320px;
    height: 100%;
    position: relative;
}

body {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    font-family: $font-family;
    font-size: 30px;
    color: #FFF;
    background-color: #001b5a;
}

a {
    color: #FFF;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
input[type=submit],
textarea,
select,
option,
button,
label {
    font-family: $font-family;
    border-radius: 0;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
}

input[type=submit],
button {
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=number] {
    width: 100%;
    border: 1px solid #989898;
    padding: 0 10px;
    background-color: #FFF;
    border-radius: 3px;
    line-height: 44px;
    height: 44px;
    outline: none;
    &:focus {
        border: 2px solid #707070;
    }
}

textarea {
    width: 100%;
    border: 1px solid #989898;
    padding: 8px 10px;
    background-color: #FFF;
    border-radius: 3px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    border: 1px solid #989898;
    padding: 0 54px 0 10px;
    height: 44px;
    border-radius: 3px;
    position: relative;
    background-color: #FFF;
    background-image: url(/images/common/select_box.svg);
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: right center;
    outline: none;
    &:focus {
        padding: 0 53px 0 9px;
        border: 2px solid #707070;
    }
}

input[type=checkbox] {
    opacity: 0;
    margin: 0;
    position: absolute;
}
label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    &.validation {
        border-color: transparent !important;
        background-color: transparent !important;
        &:before {
            border-color: #C30D23 !important;
            background-color: #ffe8eb !important;
        }
    }
    &:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: #FFF;
    }
    &:after {
        content: '';
        width: 0;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        background-image: url(/images/common/icon/icon_check.svg);
        background-size: 20px 20px;
        
    }
    &:last-child {
        margin-bottom: 0;
    }
}
input:checked+label {
    &:after {
        width: 20px;
        transition: width 0.1s;
    }
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.d-table {
    display: table;
    width: 100%;
}

.d-tr {
    display: table-row-group;
}

.d-td {
    display: table-cell;
    vertical-align: middle;
}

.d-ib {
    display: inline-block;
    vertical-align: middle;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.red-text {
    color: #C30D23;
}

.small-text {
    font-size: 22px;
}

.small-x-text {
    font-size: 16px;
}

.large-text {
    font-size: 40px;
}

.large-x-text {
    font-size: 50px;
}

.mb-xx-large {
    margin-bottom: 50px !important;
}

.mb-x-large {
    margin-bottom: 40px !important;
}

.mb-large {
    margin-bottom: 30px !important;
}

.mb-medium {
    margin-bottom: 20px !important;
}

.mb-small {
    margin-bottom: 15px !important;
}

.mb-x-small {
    margin-bottom: 10px !important;
}

.mb-xx-small {
    margin-bottom: 5px !important;
}

.bg-white {
    background-color: #FFF;
}

.bg-ultra-light-gray {
    background-color: #F5F7F7;
}

.bg-light-gray {
    background-color: #eeeef0;
}

.bg-gray {
    background-color: #727272;
}

.bg-pink {
    background-color: #ffe8eb
}

.bg-dark-blue {
    background-color: #036db7
}

.radius {
    border-radius: 4px;
}

.not-radius {
    border-radius: 0 !important;
}

.image {
    img {
        width: 100%;
    }
}

.box {
    overflow: hidden;
    padding: 40px;
    border: 1px solid #FFF;
    position: relative;
}

.form-layout {
    dl {
        margin-bottom: 0;
        display: flex;
        dt {
            margin-bottom: 0;
            width: 180px;
            font-weight: bold;
        }
        dd {
            width: calc(100% - 180px);
        }
    }
}

.text-icon-dark-blue {
    background-color: #036db7;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    color: #FFF;
    font-weight: normal;
}

.text-icon-red {
    background-color: #C30D23;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    color: #FFF;
    font-weight: normal;
}



.center-button {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    @media screen and (max-width: $mobile) {
        width: auto;
    }
}

.not-link {
    position: relative;
    cursor: default !important;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.button {
    a, button, label {
        line-height: 1;
        display: block;
        padding: 15px 0;
        text-align: center;
        width: 100%;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        &:hover {
            transition: opacity 0.25s;
            opacity: 0.75;
            @media screen and (max-width: $tablet) {
                opacity: 1;
            }
        }
    }
    &.blue-button {
        a, button, label {
            background-color: #019fe8;
            color: #FFF;
            box-shadow: 0 3px 0 #0084b2;
        }
    }
    &.dark-blue-button {
        a, button, label {
            background-color: #036db7;
            color: #FFF;
        }
    }
    &.gray-button {
        a, button, label {
            background-color: #595758;
            color: #FFF;
        }
    }
    &.light-gray-button {
        a, button, label {
            background-color: #727272;
            color: #FFF;
        }
    }
    
    &.white-button {
        a, button, label {
            background-color: #FFF;
        }
    }
}


.button-area {
    margin: 30px auto 0;
    @media screen and (max-width: $mobile){
        width: auto;
    }
}
.next-button {
    width: 320px;
    margin: 0 auto 40px;
    a, button {
        font-size: 18px;
        font-weight: bold;
        width: 320px;
        padding: 30px 0;
    }
}

.close-link {
    text-align: center;
    a, button {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        position: relative;
        padding-left: 20px;
        text-decoration: underline;
    }
}

.page-ttl {
    line-height: 1;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px; 
    text-align: center;
    position: relative;
}

.read {
    margin-bottom: 30px;
    margin-bottom: 60px; 
    text-align: center;
}

.section-ttl {
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    position: relative;
}

.validation {
    border-color: #C30D23 !important;
    background-color: #ffe8eb !important;
}

.validation-text {
    margin: 0 0 5px;
    color: #C30D23;
    font-weight: bold;
    &:last-child {
        margin-bottom: 0;
    }
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.header {
    
}

.footer {
    
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: #666;
    padding: 40px 0 0;
    .logo {
        margin: 0 auto;
        width: 68px;
    }
    .buttons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        li {
            border-top: 1px solid #0041da;
            a {
                height: 120px;
                color: #0041da;
                display: block;
                padding: 70px 0 0;
            }
        }
    }
}

.contents {
    padding: 0 0 0 120px;
    height: 100%;
    .contents-inner {
        padding: 80px 0 0;
        width: 1050px;
        margin: 0 auto;
    }
}

.modal-cover {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    z-index: 10;
    @media screen and (max-width: $mobile){
        width: 88%;
        margin-left: -44%;
    }
    .inner {
        overflow: hidden;
        border-radius: 5px;
        >.box {
            border-radius: 0;
        }
    }
    
    .close-button {
        position: absolute;
        top: -30px;
        right: 0px;
        a {
            display: block;
            width: 25px;
            height: 25px;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background-image: url(/images/common/modal_close.svg);
                background-size: contain;
                width: 100%;
                height: 100%;
                margin-top: -50%;
            }
        }
    }
}


.modal.scroll {
    .inner {
        overflow-y: auto;
    }
}

.modal-cover.active,
.modal.active {
    visibility: visible;
    animation: fadein 0.4s both;
}

.modal-cover.disabled,
.modal.disabled {
    visibility: visible;
    animation: fadeout 0.4s both;
}

.blur {
    filter: blur(5px);
}

.loading-cover {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.loading-cover.active,
.loading.active {
    visibility: visible;
    animation: fadein 0.4s both;
}

.loading {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 67px;
    height: 50px;
    margin-top: -25px;
    margin-left: -33px;
}

.loading div {
    height: 30px;
    width: 3px;
    background-color: #FFF;
    display: inline-block;
    margin-right: 13px;
    animation: loading 1s infinite;
    &:last-child {
        margin-right: 0;
    }
}

.loading .bar1 {
    animation-delay: 0.5s;
}
.loading .bar2 {
    animation-delay: 0.6s;
}
.loading .bar3 {
    animation-delay: 0.7s;
}
.loading .bar4 {
    animation-delay: 0.8s;
}
.loading .bar5 {
    animation-delay: 0.9s;
}
