.purchase-confirm {
    .form-layout {
        dl {
            position: relative;
            dd {
                position: relative;
                @media screen and (max-width: $mobile){
                    position: static; 
                }
                .right {
                    right: 0;
                    @media screen and (max-width: $mobile){
                        top: -5px;
                        margin-top: 0;
                    } 
                }              
            }
        }
    }
    .right {
        position: absolute;
        top: 50%;
        margin-top: -11px;
        right: 0;
    }
    .change-button, .confirm-button {
        display: inline-block;
        margin-left: 10px;
        a {
            width: 70px;
            padding: 5px 0;
            font-size: 12px;
            box-shadow: 0 0 0 transparent;
            font-weight: 500;
            
        }
    } 
    .notes {
        ol {
            li {
                text-indent: -1em;
                line-height: 1.5;
                margin: 0 0 10px;
                padding: 0 0 0 1em;
                &:after {
                    display: none;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
        ul {
            li {
                text-indent: 0;
                margin: 0;
                padding: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

.modal[data-modal=screen] {
    .screen {
        .seat {
            a {
                cursor: default;
            }
        }
    }
}