.purchase-performances {
    .sort {
        margin: 0 auto;
        display: flex;
        border-radius: 5px;
        border: 1px solid #FFF;
        div {
            width: 50%;
            border-right: 1px solid #FFF;
            &:last-child {
                border: none;
            }
            a {
                padding: 25px 0;
                display: block;
                background-color: #EEE;
                &.active {
                    background-color: #CCCCCC;
                    color: #333;
                }
            }
        }
    }
    .chronological-order {
        display: none;
        &.active {
            display: block;
        }
        li {
            border-radius: 5px;
            color: #333;
            overflow: hidden;
            a {
                border: 2px solid #AFAFAF;
                dl {
                    display: flex;
                    dt {
                        width: 180px;
                        padding: 10px 10px 10px 20px;
                        // border-right: 1px solid #777777;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @media screen and (max-width: $mobile){
                            width: 50%;
                            padding: 10px;
                        }
                        .status {
                            width: 80px;
                            @media screen and (max-width: $mobile){
                                width: 50px;
                            }
                            img {
                                width: 30px;
                            }
                        }
                    }
                    dd {
                        width: 520px;
                        padding: 10px 40px 25px 40px;
                        border-left: 1px solid #777777;
                        @media screen and (max-width: $mobile){
                            width: 50%;
                            padding: 10px 10px 25px 10px;
                        }
                        .screen-name {
                            display: inline-block;
                            border: 1px solid #333;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }

    .film-order {
        display: none;
        &.active {
            display: block;
        }
        li {
            border-radius: 5px;
            color: #333;
            overflow: hidden;
            >dl {
                >dt {
                    color: #FFF;
                    background-color: #515151;
                    padding: 20px 25px;
                }
                >dd {
                    background-color: #2d2d2d;
                    padding: 20px 20px 0;
                    ul {
                        display: flex;
                        flex-wrap:wrap;
                        margin: 0 0 0 -10px;
                        li {
                            width: 25%;
                            padding: 0 0 0 10px;
                            margin: 0 0 20px;
                            @media screen and (max-width: $tablet){
                                width: 33.3%;
                            }
                            @media screen and (max-width: $mobile){
                                width: 50%;
                            }
                            &.disabled {
                                opacity: 0.5;
                            }
                            a {
                                padding: 0;
                                border: 2px solid #AFAFAF;
                                dl {
                                    dt {
                                        padding: 10px 15px;
                                        border-bottom: 1px solid #777777;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        @media screen and (max-width: $mobile){
                                            padding: 10px;
                                        }
                                        .status {
                                            width: 60px;
                                            img {
                                                width: 30px;
                                            }
                                        }
                                    }   
                                    dd {
                                        padding: 10px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
