.purchase-ticket {
    .seats {
        .validation {
            background-color: transparent !important;
            .ghost-button {
                a {
                    border-color: #C30D23;
                    color: #C30D23;
                    background-color: #ffe8eb;
                }
            }
        }
    }
    .mvtk {
        dt {
            @media screen and (max-width: $mobile){
                display: block;
            }
        }
        dd {
            @media screen and (max-width: $mobile){
                display: block;
                width: 100%;
            }
        }
        .mvtk-button {
            label, a {
                border: 1px solid #d82918;
                background-color: #FFF;
                color: #333;
                &:before {
                    left: 15px;
                }
                &:after {
                    left: 15px;
                }
            }
            img {
                width: 100px;
                height: 22px;
                vertical-align: bottom;
            }
        }
    }
}

.modal[data-modal="ticketType"] {
    dl {
        dt {
            padding-right: 10px;
        }
    }
}