logs/*
node_modules/*
typings/*
iisnode/*
iisnode.yml
docs/
.env*
app.yml*
*.log
.vscode/
npm-debug*

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

bin/env/
