<nav class="navigation">
    <ul class="buttons clearfix">
        <% if (defineContent('prev')) { %>
        <li class="prev-button white-button"><a href="<%- defineContent('prev') %>" class="small-x-text text-center icon-triangle-gray"><i class="icon-prev-gray"></i><%- __('navigation.prev') %></a></li>
        <% } %>
        <li class="restart-button white-button"><a href="/" class="small-x-text text-center icon-triangle-gray"><i class="icon-top-gray"></i><%- __('navigation.top') %></a></li>
        
    </ul>
</nav>