<p>
<%
let text = `【オンライン利用規約】	
    
前文 
　 佐々木興業株式会社(以下、｢当社｣とします)は、「ｵﾝﾗｲﾝ先売りﾁｹｯﾄｻｰﾋﾞｽ」（以下「本ｻｰﾋﾞｽ」とします)をご利用いただく際に、次の利用規約(以下「本規約」とします)を設けております。本規約をご承諾の上、本ｻｰﾋﾞｽをご利用ください。
第1条　本ｻｰﾋﾞｽの内容と利用条件 
・ 本ｻｰﾋﾞｽは、当社が運営する映画館で上映を行う映画の観賞ﾁｹｯﾄを当社が運営しているｻｲﾄ(以下、｢当ｻｲﾄ｣とします)にて事前予約販売するものです。
 
・ 本ｻｰﾋﾞｽをご利用頂くには本規約への同意が必要となります。
 
・ お客様が本規約のすべての条項に同意されない場合は本ｻｰﾋﾞｽをご利用頂けません。
 
　 また、お客様が本規約に違反した場合にはご利用をお断りすることがあります。
 
・ お客様自身の責任においてｺﾝﾋﾟｭｰﾀｰ・携帯電話の操作およびｲﾝﾀｰﾈｯﾄ利用ができ、本ｻｰﾋﾞｽを利用するために必要なｲﾝﾀｰﾈｯﾄ環境の適切な設定、文字(日本語表示)やﾒｰﾙ等の諸設定がなされている方を対象にしています。また上記条件を満たしていても、誤操作やﾈｯﾄ環境の事情によって本ｻｰﾋﾞｽが正常に動作しない場合、それらがもたらす諸影響について当社は一切責任を負いません。
 
・ ｲﾝﾀｰﾈｯﾄ利用の一般的なﾏﾅｰ、ﾓﾗﾙを遵守して頂きます。当社が不適切と判断する行為を行うお客様には本ｻｰﾋﾞｽのご利用をお断りすることがあります。
 
・ 未成年者が本ｻｰﾋﾞｽを利用する場合、親権者または後見人の同意の上ご利用下さい。未成年者が本ｻｰﾋﾞｽを利用された場合は、本ｻｰﾋﾞｽの全ての事項について親権者または後見人の同意があったものとみなします。
第2条　本ｻｰﾋﾞｽ・規約の変更／中断／中止について 
・ 当社は事前の通告無しに本ｻｰﾋﾞｽ、本規約の変更をすることがあります。本ｻｰﾋﾞｽをご利用の際は必ずｻｰﾋﾞｽ内容・本規約をご確認ください。内容変更後は変更後の内容のみを有効とさせて頂きます。
 
・ 当社は以下の理由によりお客様に通告無しに本ｻｰﾋﾞｽの全部又は一部を中断、中止できるものとします。
 
　 1.本ｻｰﾋﾞｽに係るｼｽﾃﾑの定期的または突発的な理由による保守・点検を行う場合
 
　 2.天災、事変、その他の非常事態の発生により本ｻｰﾋﾞｽの提供が困難になった場合
 
　 3.当社以外の第三者の妨害によって本ｻｰﾋﾞｽの提供が困難になった場合
 
　 4.その他、当社が本ｻｰﾋﾞｽの運営上必要と判断した場合
 
・ 当社は理由の如何を問わず、本ｻｰﾋﾞｽの提供の中断または中止によって生じたお客様の損害につき、一切責任を負わないものとします。
第3条　禁止行為 
　 1.他のお客様、第三者または当社に不利益もしくは損害を与える行為、および与えるおそれのある行為
 
　 2.他のお客様、第三者または当社を誹謗中傷する行為
 
　 3.犯罪的行為、もしくは犯罪的行為に結び付く行為、またはそのおそれのある行為
 
　 4.法令に違反する、または違反するおそれのある行為
 
　 5.公序良俗に反する行為、もしくはそのおそれのある行為、または公序良俗に反する情報を他のお客様または第三者に提供する行為
 
　 6.性風俗、宗教、政治に関する行為
 
　 7.権利者の承諾を得ないで、いかなる方法においても、本ｻｰﾋﾞｽを通じて提供される情報・著作物について著作権法で定める個人の私的利用の範囲を超えて使用すること
 
　 8.本ｻｰﾋﾞｽを通じて、もしくは本ｻｰﾋﾞｽに関連して、営利を目的とする行為、またはその準備を目的とした行為
 
　 9.ｺﾝﾋﾟｭｰﾀｰｳｲﾙｽなどの有害なﾌﾟﾛｸﾞﾗﾑを、本ｻｰﾋﾞｽを通じて、もしくは本ｻｰﾋﾞｽに関連して使用する、提供する行為
 
　 10.当社から購入した電子ﾁｹｯﾄを、営利を目的として第三者に転売、または転売のために第三者に提供する行為
 
　 11.その他、当社が不適切と判断する行為
第4条　ﾁｹｯﾄ販売について 
・ 本ｻｰﾋﾞｽご利用にあたって「氏名」「連絡先」「ﾒｰﾙｱﾄﾞﾚｽ」「ｸﾚｼﾞｯﾄｶｰﾄﾞ番号」「電話番号」などの個人情報を入力していただきます。個人情報が不正確・虚偽がある場合はお申込みを無効とさせて頂きます。
 
・ 本ｻｰﾋﾞｽは、当ｻｲﾄに掲載されている上映作品、上映時間のうち販売画面で選択可能なもののﾁｹｯﾄのみご購入頂けます。一部上映作品、上映時間については取扱いがない場合があります。
 
・ 本ｻｰﾋﾞｽはｼｽﾃﾑﾒﾝﾃﾅﾝｽによるｻｰﾋﾞｽ提供の中断及び第2条で定める場合をのぞき、24時間営業を行っております。ﾒﾝﾃﾅﾝｽを行う際は事前に当ｻｲﾄにて告知しますが、第2条で定める通りやむをえない場合は事前の通告無しにｻｰﾋﾞｽを中断します。
 
・ 本ｻｰﾋﾞｽは当社規定の料金体系に基づくことを前提とします。尚、対象券種は当社が決定するものとし、お客様への事前の通告なしに変更できるものとします。
 
　 ※各種証明書のご提示が必要な券種は、ご鑑賞当日、入場口にて確認させて頂きます。詳しくは第7条でご確認下さい。
 
・ ご予約の受付はご鑑賞日2日前から上映開始1時間前までです。1回の購入申込みで購入出来る枚数に制限が付きます。制限枚数は、その都度変更されます。制限枚数以上購入の場合は複数の購入操作が必要となります。複数の購入申込みを行った場合、座席は購入操作ごとで離れたお席になります。
 
・ 映画倫理規定管理委員会の定めたﾚｲﾃｨﾝｸﾞ(鑑賞年齢制限)の定められた作品では該当のお客様のご利用をお断りすることがあります。制限年齢に達しないお客様が誤って購入したﾁｹｯﾄの返金・交換は一切受付けておりません。
 
・ 鹿児島県青少年保護育成条例の定めにより、18歳未満及び高校生の方は終映が23:00を過ぎる上映回のﾁｹｯﾄをご購入頂けません。また保護者同伴でもご入場頂けません。
 
・ 本ｻｰﾋﾞｽにおける売買契約の成立は、入力頂いた内容に基づきｸﾚｼﾞｯﾄ決済与信手続が終了した時点とします。発券の際には本ｻｰﾋﾞｽ発行の「予約番号」、お客様入力の「電話番号」が必要となります。
 
・ 購入完了画面表示後はお客様の都合による上映作品の日時の変更、購入の取消、ﾁｹｯﾄの払い戻しはできないものとします。また、交通渋滞による遅延などその他いかなる場合でも、上映作品の日時変更、購入の取消、ﾁｹｯﾄの払い戻しは受付けません。なお、ﾁｹｯﾄはｸｰﾘﾝｸﾞｵﾌの対象外となっております。
 
・ 当社からご購入の予約番号の記載された確認のﾒｰﾙを送信します。当ｻｲﾄの指定項目の記入漏れ、ﾒｰﾙｱﾄﾞﾚｽの誤入力、文字化けなどにより確認のﾒｰﾙが送信できない場合、確認ﾒｰﾙの不達、遅達について当社は一切の責任を負わないものとします。
 
・ 上映劇場はやむをえず変更になる場合があります。上映劇場の変更やその他の理由により予約座席が変更となる場合があります。
 
・ 上映時間に著しく遅れられてのご入場は他のお客様のご迷惑になりますのでご入場をお断りすることがあります。
 
・ 不可抗力による上映中止の場合は、所定の期間内に限り所定の方法にて払い戻しを行います。払い戻しの対象はﾁｹｯﾄ代金のみとなります。お客様都合による払い戻しはできません。
第5条　決済方法 
・ 本ｻｰﾋﾞｽの支払い方法はｸﾚｼﾞｯﾄｶｰﾄﾞ決済になります。国内発行かつ当社指定のｸﾚｼﾞｯﾄｶｰﾄﾞ(UFJ、NICOS、VISA、Master Card、JCB、American express)をお持ちのお客様のみご利用頂けます。
 
・ ﾁｹｯﾄ購入手続きの際の虚偽入力、誤入力もしくは入力漏れ、またはｸﾚｼﾞｯﾄｶｰﾄﾞ会社の規約違反等によりｸﾚｼﾞｯﾄｶｰﾄﾞ決済ができない場合は、ﾁｹｯﾄの購入は無効とさせて頂きます。ｸﾚｼﾞｯﾄｶｰﾄﾞのお取扱いができない場合には、ｸﾚｼﾞｯﾄ会社に直接お問い合わせ下さい。
 
・ ｸﾚｼﾞｯﾄｶｰﾄﾞ利用によるﾄﾗﾌﾞﾙについて当社は一切の責任を負いません。
 
・ その他、本ｻｰﾋﾞｽにおけるｸﾚｼﾞｯﾄｶｰﾄﾞ決済に関する事項は、ｸﾚｼﾞｯﾄ会社における利用規約に準じます。
第6条　発券方法 
・ チケットの発券方法は以下2通りからお選び頂けます。
　 上映当日に劇場備え付けの「自動発券機」に「予約番号」とお客様が設定された「電話番号」を入力するとチケットを発券頂けます。
　 またはチケット情報確認画面へアクセス頂き、「チケットを購入した劇場」「予約番号」「電話番号」を入力してログインし、 ご鑑賞時間の24時間前から入場用QRコードチケットを取得して頂けます。
　 いずれかのチケットをご持参頂きご入場ください。
　 予約番号、電話番号を失念された場合は劇場ｽﾀｯﾌにお申し付け下さい。入力された個人情報が確認できない場合、発券できないことがあります。

・ ﾁｹｯﾄは如何なる場合(紛失・盗難・破損など)でも再発行致しません。
第7条　身分証明書の提示 
・ 本ｻｰﾋﾞｽで購入された「学生」、「ｼﾆｱ」、「ﾊﾝﾃﾞｨｷｬｯﾌﾟ」のﾁｹｯﾄについて当該ﾁｹｯﾄの引渡しを受けたお客様は、ご入場時、身分証明書の提示が必要です。提示がない場合は一般料金との差額を頂きます。
 
・ 各種割引ﾁｹｯﾄで必要な証明書は以下の通りです。
 
　 「学生」：学校長発行の学生証または生徒手帳
 
　 ※「学生」･･･大学生、専門学校生、高等専門学校生、高等学校生を指します。
 
　 「ｼﾆｱ」：生年月日又は年齢について記載のある公的機関発行の身分証明書(運転免許証など)
 
　 「ﾊﾝﾃﾞｨｷｬｯﾌﾟ」：障害者手帳
第8条　個人情報の取扱い 
・ 当社は、別途掲載する「ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ」と本条項に基づきお客様の個人情報を取扱うものとし、お客様は「ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ」と本条項を確認し同意の上、本ｻｰﾋﾞｽをご利用頂くものとします。
 
・ 本ｻｰﾋﾞｽにて入力頂く個人情報は、お客様に本ｻｰﾋﾞｽを円滑に提供するため収集するものです。
 
・ 本ｻｰﾋﾞｽは、個人情報の入力及びｸﾚｼﾞｯﾄ決済時にあたり、情報を第三者に傍受されないよう暗号化する方式(SSL)を採用して個人情報の保護に努めておりますが、その方式にも限界があり100％安全性を保証できるわけではありません。ﾃﾞｰﾀへの不正ｱｸｾｽほか、いかなる方法でﾄﾗﾌﾞﾙが生じた場合でも一切責任を負わないものとします。
 
　 ※SSLとはSecure Socket Layerの略で、ｲﾝﾀｰﾈｯﾄ上でやり取りされているﾃﾞｰﾀ(個人名、住所、電話番号などの個人情報や企業の機密情報など)を暗号・複合化し、第三者からﾃﾞｰﾀを覗かれないようにする通信技術のことです。SSLでは、暗号化は送信側で通信ﾃﾞｰﾀをﾊﾟｹｯﾄに分割する前に行われ、複合化は受信ﾊﾟｹｯﾄを組み合わせた後に行われます。このため通信中のﾃﾞｰﾀはすべて解読困難な形になっています。ただし、暗号化された情報を複合することは、例えそれが解読に膨大な時間がかかるような極めて難しい計算を要したとしても理論上は可能であり、ﾃﾞｰﾀへの不正ｱｸｾｽが100%起こらないとは言い切れません。
第9条　著作権 
・ お客様は権利者の同意を得ずして本ｻｰﾋﾞｽを通して提供される情報などについて著作権法で定める私的利用の範囲を超えて使用することは出来ません。
 
・ 前項の規定に関わらず、権利者とお客様の間で問題が生じた場合は、お客様は自己の責任と費用において問題解決に当たっていただきます。
第10条　業務の委託 
・ 当社は本ｻｰﾋﾞｽの提供に必要な業務の全部又は一部を、当社が適切と判断するところに従い、第三者に委託して行わせることができるものとします。
第11条　免責 
・ 当社は本ｻｰﾋﾞｽ内容の正確性確保に鋭意努めますが、本ｻｰﾋﾞｽ内容およびお客様が本ｻｰﾋﾞｽを通じて得る情報等の完全性、正確性、確実性、有用性等については如何なる保証も行いません。
 
・ 当ｻｲﾄの利用・閲覧はお客様の責任で行うものとします。当ｻｲﾄへのｱｸｾｽ、画像などのﾃﾞｰﾀをﾀﾞｳﾝﾛｰﾄﾞすることにより、お客様のｺﾝﾋﾟｭｰﾀｰ機器等が損害を被った場合、又はｳｲﾙｽに感染された場合であっても当社は一切の責任を負いません。
 
・ 上映中止によりﾁｹｯﾄ料金の払い戻しを行う場合は、原則として払い戻し金額はﾁｹｯﾄ券面額とします。券面金額以外の費用(ｸﾚｼﾞｯﾄｶｰﾄﾞの手数料、旅費交通費、通信費等)を当社は一切負担いたしません。
 
・ 当社は本ｻｰﾋﾞｽからﾘﾝｸされている各ｻｲﾄに含まれている情報、ｻｰﾋﾞｽ等については一切関知しておらず、一切の責任を負わないものとします。
第12条　準拠法及び管轄裁判所 
・ 本規約の解釈、適用に関わる準拠法は日本法とします。
 
・ 本ｻｰﾋﾞｽに関連して、お客様が故意または過失に関わらず、他のお客様、当社、第三者に損害を与えた場合、お客様は自己の費用と責任で損害を賠償するものとします。
 
・ 本ｻｰﾋﾞｽに関連してお客様と当社との間で紛争が生じた場合には、双方誠意を持って協議するものとします。
 
・ 前項の協議によっても紛争を解決できない場合は、鹿児島地方裁判所または加治木簡易裁判所を専属的合意管轄裁判所とします。
第13条　その他 
・ お客様は、本規約に定めのない事項について、別途当社の定めるところに従うものとします。`
%>
<%- text.replace(/\n/g, '<br>') %>
</p>