.index {
    .buttons {
        margin: 0 0 40px;
        display: flex;
        justify-content: space-between;
    }
    .purchase-button, .inquiry-button {
        a {
            padding: 140px 0 0;
            display: block;
            width: 505px;
            height: 500px;
            background-color: rgba(255, 255, 255, 0.15);
        }
    }
    .qr-code {
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -50px;
    }
}