<div class="purchase-complete">
    <h1 class="page-ttl"><%- __('purchase.complete.page_ttl') %></h1>
    <p class="read"><%- __('purchase.complete.read') %></p>

    <div class="button middle-button"><a class="center" href="/"><%- __('purchase.complete.next') %></a></div>
</div>