
<div class="error" style="display: none;">
    <h1 class="page-ttl"><%- __('error.page_ttl') %></h1>
    <p class="read"><%- __('common.error.access') %></p>
    <div class="button middle-button"><a class="center" href="/"><%- __('error.prev') %></a></div>
</div>
