
<div class="maintenance">
    <h1 class="page-ttl"><%- __('maintenance.page_ttl') %></h1>
    <p class="read"><%- __('maintenance.read') %></p>
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black" href="<%= portalSite %>"><%- __('maintenance.prev') %></a></div>
    </div>
</div>
