.purchase-complete {
    .info {
        
    }
    .entry-method {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -10px;
        li {
            width: 50%;
            @media screen and (max-width: $mobile){
                margin-bottom: 20px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        dl {
            height: 100%;
            margin: 0 10px;
            dt {
                span {
                    margin-right: 5px;
                }
            }
        }
    }
    .button-area {
        margin-top: 40px;
    }
}