.purchase {
    .header {
        .steps {
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -1px;
            width: 500px;
            height: 2px;
            background-color: #ccc;
            @media screen and (max-width: $mobile){
                width: 200px;
                right: 0;
            }
            .step {
                width: 10px;
                height: 10px;
                background-color: #ccc;
                color: #ccc;
                border-radius: 5px;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -5px;
                margin-left: -5px;
                .text {
                    text-align: center;
                    font-size: 12px;
                    width: 100px;
                    position: absolute;
                    top: -20px;
                    left: -45px;
                    @media screen and (max-width: $mobile){
                        display: none;                    
                    }
                }
            }
            .step-01 {
                left: 0;
            }
            .step-02 {
                left: 25%;
            }
            .step-03 {
                left: 50%;
            }
            .step-04 {
                left: 75%;
            }
            .step-05 {
                left: 100%;
            }
            .active {
                background-color: #555;
                font-weight: bold;
                color: #555;
            }
        }
    }
    // contents
    
    @import "seat";
    @import "ticket";
    @import "input";
    @import "confirm";
    @import "complete";
    
    
}

