.purchase-input {
    .text-icon-red {
        margin-left: 5px;
    }
    input[type=text],
    input[type=number],
    input[type=password],
    input[type=tel],
    input[type=email],
    textarea {
        margin: 0 0 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .scroll {
        overflow-y: auto;
        resize: vertical;
        height: 300px;
        @media screen and (max-width: $mobile) {
            height: 100px;
        }
    }
}