.purchase-seat {
    .sp-text {
        display: none;
        @media screen and (max-width: $mobile){
            display: block;
        }
    }
    .screen-cover {
        padding: 0 80px;
        @media screen and (max-width: $tablet){
            padding: 0;
        }
    }
    .screen {
    }
    .zoom-btn {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        a {
            display: block;
            width: 50px;
            height: 50px;
            color: #333;
            border: 1px solid #c6c6c6;
            border-radius: 3px;
            padding-top: 30px;
        }
        &.scroll {
            position: fixed;
        }
    }
    .seat-info {
        padding: 20px;
        @media screen and (max-width: $mobile) {
            padding: 20px 10px;
        }
        .box {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
        .seat {
            margin: 0 10px;
            position: relative;
            padding-left: 24px;
            @media screen and (max-width: $mobile) {
                margin: 0 7px;
                font-size: 12px;
            }
            &:before {
                width: 16px;
                height: 20px;
                content: '';
                display: block;
                background-image: url(/images/screen/seat.svg);
                background-size: 48px 20px;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -10px;
            } 
        }
        .active {
            &:before {
                background-position: -16px 0;
            }
        }
        .disabled {
            &:before {
                background-position: -32px 0;
            }
        }  
    }
    .film-info {
        background-color: #3e3a39;
        color: #FFF;
        padding: 20px;
        @media screen and (max-width: $mobile) {
            padding: 15px;
        }
        dl {
            dt {
                color: #f0e205;
                margin-bottom: 10px;
            }
            dd {
                color: #FFF;
                padding: 0 0 10px;
                margin-bottom: 10px;
                &:last-child {
                    padding: 0;
                    margin: 0;
                    border: none;
                }
            }
        }
    }
}