.purchase-seat {
    .screen {
    }
    .film-info {
        background-color: #3e3a39;
        color: #FFF;
        padding: 15px 10px;
        
        dl {
            dt {
                color: #f0e205;
                margin-bottom: 10px;
            }
            dd {
                color: #FFF;
                padding: 0 0 10px;
                border-bottom: 1px solid #FFF;
                margin-bottom: 10px;
                &:last-child {
                    padding: 0;
                    margin: 0;
                    border: none;
                }
            }
        }
    }
}