.ticket-type-select {
    .seats {
        padding: 5px 10px;
        li {
            dl {
                padding: 10px 0;
            }
            dt {
                
            }
            dd {
                width: 300px;
                @media screen and (max-width: $mobile){
                    width: 150px;
                }
            }
        }
    }
    .total {
        text-align: right;
        .length {
            margin: 0 0 10px;
        }
    }
}

.modal[data-modal="ticket-type"] {
    li {
        dt {
            
        }
        dd {
            width: 300px;
            @media screen and (max-width: $mobile){
                width: 150px;
            }
        }
    }
}