.purchase-ticket {
    .seats {
        li {
            dd {
                width: 300px;
                @media screen and (max-width: $mobile){
                    width: 150px;
                }
            }
        }
    }
}

.modal[data-modal="ticket-type"] {
    li {
        dt {
            
        }
        dd {
            width: 300px;
            @media screen and (max-width: $mobile){
                width: 150px;
            }
        }
    }
}