.inquiry-confirm {
    
    .ticket {
        margin: 0 0 20px;
        border: 2px solid #019fe8;
        border-radius: 5px;
        .qr {

        }
        .not-qr {
            padding: 25px;
        }
    }
}
