.inquiry-confirm {
    .bookmark {
        text-align: center;
        padding: 0 10px;
        img {
            width: 100%;
            max-width: 360px;
        }
    }
    .ticket {
        margin: 0 0 20px;
        border: 2px solid #019fe8;
        border-radius: 5px;
        .box {
            overflow: visible;
        }
        .qr {

        }
        .not-qr {
            padding: 40px;
            background-image: url(/images/common/bg_ticket.svg);
            background-size: 100px 60px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
