.screen {
  position: relative;
  @media screen and (max-width: $mobile) {
    overflow: hidden;
  }
  .transition {
    transition: all 0.3s;
  }
  .screen-inner {
    margin: 0 auto;
    position: relative;
    width: 404px;
    height: 665px;
    background-image: url(/images/pc/screen.png);
    @media screen and (max-width: $mobile) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .seat {
    width: 13px;
    height: 19px;
    position: absolute;
    a {
      box-sizing: border-box;
      display: block;
      height: 100%;
      background-color: #FFF;
      border: 1px solid #333;
      border-radius: 2px;
      &.active {
        background-color: #d50000;
      }
      &.disabled {
        background-color: #666;
      }
    }
  }
  .front {
    a {
      
    }
  }
  .middle {
    a {
      
    }
  }
  .back {
    a {
      
    }
  }
  .left {
    transform: rotate(10deg);
    a {
      
    }
  }
  .center {
    a {
      
    }
  }
  .right {
    transform: rotate(-10deg);
    a {
      
    }
  }
  .wheelchair a {
    background-image: url(/images/pc/wheelchair.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .zoom-btn {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 2;
    display: none;
    &.active {
      display: block;
    }
    
    a {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #FFF;
      line-height: 40px;
      text-align: center;
      color: #333;
      text-decoration: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.5);
    }
  }
  .balloon {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 15px;
    background-color: #000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #FFF;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 10px 4px;
      border-color: transparent transparent #000 transparent;
      border-color: transparent transparent rgba(51, 51, 51, 0.9) transparent;
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -4px;
    }
    &.active {
      display: block;
      animation: fadeIn 0.5s ease 0s 1 normal;
    }
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}