.purchase-ticket {
    .seats {
        display: flex;
        flex-wrap:wrap;
        li {
            margin: 0 20px 20px 0;
            dl {
                display: table;
                border-radius: 10px;
                overflow: hidden;
                dt {
                    width: 130px;
                    height: 110px;
                    display: table-cell;
                    font-weight: bold;
                    background-color: #333;
                    text-align: center;
                    vertical-align: middle
                }
                dd a {
                    width: 400px;
                    height: 110px;
                    display: table-cell;
                    background-color: #FFF;
                    color: #333;
                    text-align: center;
                    vertical-align: middle
                }
            }
        }
    }
    .mvtk {
        .mvtk-button {
            label, a {
                border: 1px solid #d82918;
                background-color: #FFF;
                color: #333;
                &:before {
                    left: 15px;
                }
                &:after {
                    left: 15px;
                }
            }
            img {
                width: 100px;
                height: 22px;
                vertical-align: bottom;
            }
        }
    }
}

.modal[data-modal="ticket_type"] {
    dl {
        dt {
            padding-right: 10px;
        }
    }
}