<%- contentFor('style') %>
<style>
    .navigation .buttons {
        display: none;
    }
</style>
<%- contentFor('body') %>
<div>
    <h1 class="page-ttl"><%- __('stop.page_ttl') %></h1>
    <p class="read"><%- __('stop.read') %></p>
</div>