<% layout('../../layouts/purchase/layout') -%>
<% block('script', '<script src="/js/purchase/mvtk/auth.js"></script>') -%>
<div class="purchase-mvtk-auth">
    <h1 class="page-ttl">ムビチケ券適用</h1>
    <p class="read">
        認証したムビチケ券の内容に問題なければ適用するボタンを押してムビチケ券を適用してください。
    </p>

    <form method="post">

        <ul class="box bg-light-gray mb-medium">
            <li>
                <dl>
                    <dt>ムビチケ購入番号 : 1111111111</dt>
                    <dd><strong>一般：2枚</strong></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>ムビチケ購入番号 : 1111111111</dt>
                    <dd><strong>一般：2枚</strong></dd>
                </dl>
            </li>
        </ul>
        
        
        <div class="box bg-light-gray">
            <div class="box-ttl">選択中の座席</div>
            <div class="text-right mb-medium"><strong>3席</strong></div>
            <div class="box-ttl">利用可能なムビチケ券</div>
            <ul>
                <li>
                    <div class="d-table">
                        <div class="d-td">一般</div>
                        <div class="d-td text-right"><strong>3枚</strong></div>
                    </div>
                </li>
                <li>
                    <div class="d-table">
                        <div class="d-td">一般</div>
                        <div class="d-td text-right"><strong>3枚</strong></div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="button-area clearfix">
            <div class="button next-button blue-button"><button type="submit">適用</button></div>
            <div class="prev-link"><a href="<%- url('purchase.mvtk') %>">戻る</a></div>
        </div>
        
    </form>
</div>
