
<div class="modal" data-modal="reserveError">
    <div class="inner">
        <div class="box radius bg-white">
            <div class="modal-ttl large-text text-center mb-middle"><strong><%- __('purchase.seat.modal.reserveError.ttl') %></strong></div>
            <p class="mb-middle text-center"><%- __('purchase.seat.modal.reserveError.text') %></p>
            <div class="prev-link"><a class="icon-close-black modal-close" href="#"><%- __('common.close') %></a></div>
        </div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>