<div class="modal" data-modal="updateReserveError">
    <div class="inner">
        <div class="box radius bg-white">
            <div class="modal-ttl large-text text-center mb-medium"><strong></strong></div>
            <div class="prev-link"><a class="icon-close-black modal-close" href="#"><%- __('common.close') %></a></div>
        </div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>