<% layout('./layouts/layout') -%>

<div class="error">
    <h1 class="page-ttl"><%- __('error.page_ttl') %></h1>
    <p class="read"><%- (message) ? message : '' %></p>
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black"href="/"><%- __('error.prev') %></a></div>
    </div>
</div>
