<link type="text/css" href="/css/responsive/notfound.css" rel="stylesheet" />

<div class="contents">
    <h2 class="text-center"><img src="/img/responsive/404.png" alt="404 error page not found"></h2>
    <div class="box">
        <p class="red-text text-center">
            <strong>
                申し訳ございません。<br>
                お探しのページは見つかりませんでした。<br>
            </strong>
        </p>
        <p class="text-center">
            一時的にアクセスできない状態か、移動もしくは削除された可能性があります。<br>
            <a href="<%- url('Home', {}) %>">ムビチケTOPへ</a>
        </p>
    </div>
</div>
