<% layout('../layouts/layout') -%>

<div class="not-found">
    <h1 class="page-ttl"><%- __('not_found.page_ttl') %></h1>
    <p class="read"><%- __('not_found.read') %></p>
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black"href="/"><%- __('not_found.prev') %></a></div>
    </div>
</div>
