
<div class="error" style="display: none;">
    <h1 class="page-ttl"><%- __('error.page_ttl') %></h1>
    <p class="read"><%- __('common.error.access') %></p>
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black"href="<%= prevLink %>"><%- __('error.prev') %></a></div>
    </div>
</div>
