.icon-triangle-01 {
    &:before {
        position: absolute;
        bottom: 20px;
        right: 20px;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-image: url(/images/fixed/icon/icon_triangle_01.svg);
    }
}

.icon-triangle-02 {
    &:before {
        position: absolute;
        bottom: 10px;
        right: 10px;
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-image: url(/images/fixed/icon/icon_triangle_02.svg);
    }
}

.icon-select {
    &:before {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -6px;
        content: '';
        display: block;
        width: 17px;
        height: 12px;
        background-size: 17px 12px;
        background-image: url(/images/fixed/icon/icon_select.png);
    }
}

.icon-prev {
    &:before {
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -15.5px;
        content: '';
        display: block;
        width: 31px;
        height: 29px;
        background-image: url(/images/fixed/icon/icon_prev.svg);
    }
}

.icon-top {
    &:before {
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -16px;
        content: '';
        display: block;
        width: 32px;
        height: 31px;
        background-image: url(/images/fixed/icon/icon_top.svg);
    }
}

.icon-add-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        background-image: url(/images/fixed/icon/icon_add_white.svg);
        background-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }
}

.icon-zoom-out {
    &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 50%;
        background-image: url(/images/fixed/icon/icon_zoom_out.svg);
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        margin-left: -7.5px;
    }
}