.icon-triangle-white {
    &:before {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: block;
        width: 16px;
        height: 16px;
        background-size: 16px 16px; 
        background-image: url(/images/fixed/icon/icon_triangle_white.svg);
        background-repeat: no-repeat;
    }
}

.icon-triangle-gray {
    &:before {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: block;
        width: 16px;
        height: 16px;
        background-size: 16px 16px; 
        background-image: url(/images/fixed/icon/icon_triangle_glay.svg);
        background-repeat: no-repeat;
    }
}

.icon-select {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -6px;
        display: block;
        width: 17px;
        height: 12px;
        background-size: 17px 12px;
        background-image: url(/images/fixed/icon/icon_select.png);
        background-repeat: no-repeat;
    }
}

.icon-prev-blue {
    &:before {
        content: '';
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -12.5px;
        display: block;
        width: 25px;
        height: 24px;
        background-size: 25px 24px;
        background-image: url(/images/fixed/icon/icon_prev_blue.svg);
        background-repeat: no-repeat;
    }
}

.icon-top-blue {
    &:before {
        content: '';
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -12.5px;
        display: block;
        width: 25px;
        height: 24px;
        background-size: 25px 24px;
        background-image: url(/images/fixed/icon/icon_top_blue.svg);
        background-repeat: no-repeat;
    }
}

.icon-ticketing-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -12px;
        display: block;
        width: 25px;
        height: 24px;
        background-size: 25px 24px;
        background-image: url(/images/fixed/icon/icon_ticketing_white.svg);
        background-repeat: no-repeat;
    }
}

.icon-ticketing-blue {
    &:before {
        content: '';
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -12.5px;
        display: block;
        width: 25px;
        height: 24px;
        background-size: 25px 24px;
        background-image: url(/images/fixed/icon/icon_ticketing_blue.svg);
        background-repeat: no-repeat;
    }
}

.icon-add-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        background-image: url(/images/fixed/icon/icon_add_white.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }
}

.icon-zoom-out {
    &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 50%;
        background-image: url(/images/fixed/icon/icon_zoom_out.svg);
        background-repeat: no-repeat;
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        margin-left: -7.5px;
    }
}