.index {
    width: 1050px;
    margin: 0 auto;
    .buttons {
        margin: 0 0 40px;
        display: flex;
        justify-content: space-between;
    }
    .purchase-button, .inquiry-button {
        a {
            padding: 80px 0 0;
        }
    }
    .qr-code {
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -50px;
        width: 100px;
        height: 100px;
        img {
            padding: 10px;
            background-color: #FFF;
        }
    }
    .box {
        padding: 25px 160px 25px 30px;
    }
}