
<div class="modal" data-modal="seat_upper_limit">
    <div class="inner">
        <div class="box radius bg-white">
            <div class="modal-ttl large-text text-center mb-medium"><strong><%- __('purchase.seat.modal.upper_limit.ttl') %></strong></div>
            <p class="mb-medium text-center"><%- __('purchase.seat.modal.upper_limit.text') %></p>
            <div class="prev-link"><a class="icon-close modal-close"><%- __('common.close') %></a></div>
        </div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>