<div class="modal" data-modal="ticket_type">
    <div class="inner">
        <div class="box radius bg-white">
            <ul class="box radius bg-light-gray">
                <% for (let ticket of tickets) { %>
                <li>
                    <dl class="d-table">
                        <dt class="d-td">
                            <div class="mb-xx-small"><strong><%= ticket.ticket_name %> ￥<%= formatPrice(ticket.sale_price) %></strong></div>
                            <p class="small-text"><%= ticket.ticket_note %></p>
                        </dt>
                        <dd class="d-td width-small">
                            <div class="button blue-button ticket-type-select"><a href="#" data-ticket="<%= JSON.stringify(ticket) %>">選択</a></div>
                        </dd>
                    </dl>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>