.purchase-mvtk-input {
    input[type=text],
    input[type=number],
    input[type=password],
    input[type=tel],
    input[type=email],
    input[type=number],
    select,
    textarea {
        margin: 0 0 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .clone {
        display: none;
    }
    .ticket-list {
        .mvtk-box {
            position: relative;
            display: none;
            padding: 32px 0 0;
            .remove-button {
                position: absolute;
                top: 0;
                right: 0;
                a {
                    width: 70px;
                    padding: 5px 0;
                    font-size: 12px;
                    box-shadow: 0 0 0 transparent;
                    font-weight: 500;
                }
            }
            &.active {
                display: block
            }
        }
        .zoom {
            -webkit-animation: zoom 0.2s;
            animation: zoom 0.2s;
        }
    }
    dl {
        dt {
            line-height: 44px;
            width: 200px;
            @media screen and (max-width: $mobile) {
                line-height: 1;
                width: auto;
            }
        }
    }
    input[type=text], 
    input[type=number], 
    input[type=password], 
    input[type=tel], 
    input[type=email], 
    input[type=number] {
        max-width: 400px;
    } 
}