.numkey-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.numkey{
	overflow: hidden;
	background-color: #D2D6DC;
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
    padding: 8px;
    ul {
        width: 300px;
        li {
            color: #080404;
            float: left;
            list-style: none;
            width: 90px;
            height: 90px;
            line-height:90px;
            margin: 5px;
            text-align:center;
            cursor:pointer;
            border-radius: 3px;     
            background-color: #FFF;
            box-shadow: 0 1px 0 #A7A9AE;
            zoom: 1;
            user-select: none;
        }
        .numerickey-button {
            background-color: #BAC1C8;
        }
    }
}