<div class="steps">
    <ul>
        <li class="step step-01"></li>
        <li class="step step-02"></li>
        <li class="step step-03"></li>
        <li class="step step-04"></li>
        <li class="step step-05"></li>
    </ul>
</div>