
<div class="modal" data-modal="mvtkQrReader" data-index="">
    <div class="inner">
        <div class="modal-ttl large-text text-center mb-middle"><strong><%- __('purchase.mvtk.input.modal.mvtk_qr_reader.ttl') %></strong></div>
        <p class="mb-middle text-center"><%- __('purchase.mvtk.input.modal.mvtk_qr_reader.text') %></p>
        <div class="button small-button gray-button"><a class="center modal-close" href="#"><%- __('common.close') %></a></div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>