
<div class="modal" data-modal="seat_select_announce">
    <div class="inner">
        <div class="mb-small text-center"><img src="/images/fixed/seat_select_announce.svg" alt=""></div>
        <p class="text-center"><%- __('purchase.seat.modal.seat_select_announce.text') %></p>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>
