<div class="screen-inner" style="
    width: 1346px; 
    height: 975px;
">
    <div class="object" style="
    width: 1148px; 
    height: 126px;
    top: 90px; 
    left: 100px;
    background-image: url(/images/screen/screen.svg);
    background-size: 1148px 126px;
"></div>
    <div class="object" style="
    width: 126px; 
    height: 490px;
    top: 312px; 
    left: 1140px;
    background-image: url(/images/screen/theater_ent.svg);
    background-size: 126px 490px;
"></div>
<%
//基準の座席位置
const start = { x: 377, y: 275 };
//座席データ(座席なし: 0, 座席あり: 1, 通路大: 2, 右通路小: 3, 座席あり+右通路大: 4, 座席あり+右通路小: 5)
const data = [
    [0, 0, 2, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0],
    [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [],
    [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [1, 5, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1],
]; 
%>
<%- partial('../screen', {data: data, start: start}) %>
</div>