.performance {
    li {
        .button {
            float: left;
            width: 150px;
            margin-right: 10px;
            @media screen and (max-width: $mobile){
                float: none;
                width: auto;
                margin-right: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
