.performance {
    li {
        dl {
            margin: 0 0 10px;
        }
        dt {
            font-weight: bold;
            margin: 0 0 10px;
        }
        dd {
            margin: 0 0 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .button {
            float: left;
            width: 150px;
            margin: 0 10px 0 0;
            @media screen and (max-width: $mobile){
                float: none;
                width: auto;
                margin: 0;
            }
        }
    }
}
