<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
<meta name="format-detection" content="telephone=no">

<link href="/css/style.css" rel="stylesheet">
</head>

<body>

<%- include layouts/header %>

<div class="contents">
    <%- body %>
</div>

<%- include layouts/footer %>

</body>
</html>