<footer class="footer">
    <div class="inner">
        <ul class="clearfix">
            <li><a href="#">利用規約</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">特定商取引法に基づく表記</a></li>
        </ul>
        <div class="copyright">Copyright (C) 2001-2016 Cinema Sunshine Co., Ltd. All Rights Reserved.</div>
    </div>
</footer>