<div class="modal" data-modal="update_reserve_error">
    <div class="inner">
        <div class="modal-ttl large-text text-center mb-middle"><strong></strong></div>
        <div class="prev-link"><a class="icon-close-black modal-close" href="#"><%- __('common.close') %></a></div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>