
<div class="modal" data-modal="validation">
    <div class="inner">
        <div class="box radius bg-white">
            <div class="mb-middle text-center modal-body"></div>
            <div class="prev-link"><a class="icon-close-black modal-close" href="#"><%- __('common.close') %></a></div>
        </div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>