.purchase-mvtk-input {
    input[type=text],
    input[type=number],
    input[type=password],
    input[type=tel],
    input[type=email],
    input[type=number],
    select,
    textarea {
        margin: 0 0 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .clone {
        display: none;
    }
    .ticket-list {
        .zoom {
            -webkit-animation: zoom 0.2s both;
            animation: zoom 0.2s both;
        }
    }
    dl {
        dt {
            line-height: 44px;
            width: 200px;
            @media screen and (max-width: $mobile) {
                line-height: 1;
                width: auto;
            }
        }
    }
    input[type=text], 
    input[type=number], 
    input[type=password], 
    input[type=tel], 
    input[type=email], 
    input[type=number] {
        max-width: 400px;
    } 
}