<%- contentFor('body') %>
<div class="error">
    <h1 class="page-ttl"><%- __('error.page_ttl') %></h1>
    <p class="read"><%- (message) ? message : __('common.error.access') %></p>
    <div class="button middle-button gray-button"><a class="center icon-triangle-white" href="/"><%- __('error.prev') %></a></div>
</div>
