
<div class="error" style="display: none;">
    <h1 class="page-ttl"><%- __('error.page_ttl') %></h1>
    <p class="read access"><%- __('common.error.access') %></p>
    <p class="read expire" style="display: none;"><%- __('common.error.expire') %></p>
    <div class="button middle-button gray-button"><a class="center icon-triangle-white" href="/"><%- __('error.prev') %></a></div>
</div>
