.purchase-mvtk-input {
    .clone {
        display: none;
    }
    .ticket-list {
        .zoom {
            -webkit-animation: zoom 0.2s both;
            animation: zoom 0.2s both;
        }
    }
    dl {
        dt {
            line-height: 44px;
            width: 200px;
            @media screen and (max-width: $mobile) {
                line-height: 1;
                width: auto;
            }
        }
    }
}