<nav class="navigation">
    <ul class="buttons clearfix">
        <% if (defineContent('prev')) { %>
        <li class="prev-button"><a href="<%- defineContent('prev') %>" class="small-x-text text-center icon-prev-blue"><%- __('navigation.prev') %></a></li>
        <% } %>
        <li class="restart-button"><a href="/" class="small-x-text text-center icon-top-blue"><%- __('navigation.top') %></a></li>
        <li class="ticketing-button"><a href="#" class="small-x-text text-center icon-ticketing-blue"><%- __('navigation.ticketing') %></a></li>
    </ul>
</nav>