<nav class="navigation">
    <ul class="buttons clearfix">
        <% if (defineContent('prev')) { %>
        <li class="prev-button white-button"><a href="<%- defineContent('prev') %>" class="small-x-text text-center icon-triangle-gray"><i class="icon-prev-blue"></i><%- __('navigation.prev') %></a></li>
        <% } %>
        <li class="restart-button white-button"><a href="/" class="small-x-text text-center icon-triangle-gray"><i class="icon-top-blue"></i><%- __('navigation.top') %></a></li>
        <li class="ticketing-button white-button"><a href="#" class="small-x-text text-center icon-triangle-gray"><i class="icon-ticketing-blue"></i><%- __('navigation.ticketing') %></a></li>
    </ul>
</nav>