.purchase-performances {
    margin-bottom: 100px;
    .sort {
        display: flex;
        border-radius: 5px;
        border: 1px solid #FFF;
        div {
            width: 50%;
            border-right: 1px solid #FFF;
            &:last-child {
                border: none;
            }
            a {
                padding: 25px 0;
                display: block;
                &.active {
                    background-color: #2d2d2d;
                }
            }
        }
    }

    .service {
        img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 5px;
        }
        span {
            margin-right: 20px;
        }
    }
    
    .chronological-order {
        display: none;
        &.active {
            display: block;
        }
        li {
            border-radius: 5px;
            color: #333;
            overflow: hidden;
            a {
                border: 2px solid #AFAFAF;
                .icon-morning-black, .icon-late-black {
                    &:before {
                        top: 10px;
                        left: 10px;
                        background-size: 24px 24px;
                        width: 24px;
                        height: 24px;
                    }
                }
                dl {
                    display: flex;
                    dt {
                        width: 358px;
                        padding: 25px 30px 25px 50px;
                        // border-right: 1px solid #777777;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .status {
                            img {
                                width: 70px;
                            }
                        }
                    }
                    dd {
                        min-height: 160px;
                        width: 606px;
                        padding: 10px 40px 25px 40px;
                        border-left: 1px solid #777777;
                        .screen-name {
                            display: inline-block;
                            border: 1px solid #333;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }

    .film-order {
        display: none;
        &.active {
            display: block;
        }
        li {
            border-radius: 5px;
            color: #333;
            overflow: hidden;
            >dl {
                >dt {
                    color: #FFF;
                    background-color: #515151;
                    padding: 20px 25px;
                }
                >dd {
                    background-color: #2d2d2d;
                    padding: 20px 25px 0;
                    ul {
                        display: flex;
                        flex-wrap:wrap;
                        margin: 0 0 0 -12.5px;
                        li {
                            width: 25%;
                            padding: 0 0 0 10px;
                            margin: 0 0 20px;
                            &.disabled {
                                opacity: 0.5;
                            }
                            a {
                                border: 2px solid #AFAFAF;
                                .icon-morning-black, .icon-late-black {
                                    &:before {
                                        top: 5px;
                                        left: 5px;
                                    }
                                }
                                dl {
                                    dt {
                                        padding: 10px 15px 10px 30px;
                                        border-bottom: 1px solid #777777;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        .status {
                                            img {
                                                width: 50px;
                                            }
                                        }
                                    }   
                                    dd {
                                        padding: 10px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .inquiry {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: #FFF;
        padding: 30px 0;
        color: #333;
        box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.3);
        .inquiry-button {
            width: 800px;
            a {
                padding: 30px 0;
                span {
                    display: inline-block;
                    position: relative;
                    padding-right: 35px;
                }
            }
        }
        
    }
}
