.purchase-ticket {
    .seats {
        display: flex;
        flex-wrap:wrap;
        li {
            margin: 0 20px 20px 0;
            dl {
                display: table;
                border-radius: 5px;
                overflow: hidden;
                dt {
                    width: 130px;
                    height: 110px;
                    display: table-cell;
                    font-weight: bold;
                    background-color: #333;
                    text-align: center;
                    vertical-align: middle
                }
                dd a {
                    position: relative;
                    width: 400px;
                    height: 110px;
                    display: table-cell;
                    background-color: rgba(255, 255, 255, 0.85);
                    color: #333;
                    text-align: center;
                    vertical-align: middle
                }
            }
        }
    }
    .mvtk {
        width: 800px;
        padding: 60px 290px 60px 20px;
        .mvtk-button {
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -52.5px;
            label, a {
                border-color: #929292;
                width: 320px;
                height: 105px;
                background-color: #FFF;
                background-image: url(/images/default/common/mvtk_logo.svg);
                background-repeat: no-repeat;
                background-size: 214px 46px;
                background-position: center;
            }
        }
    }
}

.modal[data-modal="ticketType"] {
    .inner {
        padding: 0;
    }
    li {
        padding: 30px 20px;
        border-bottom: 1px solid #ACACAC;
        &:last-child {
            border-bottom: none;
        }
        dl {
            dt {
                width: 590px;
                .mb-small:last-child {
                    margin-bottom: 0 !important;
                }
            }
            dd {
                width: 160px;
            }
        }
    }
}