<% layout('../layouts/layout') -%>
<% block('script', '<script src="/js/method/entry.js"></script>') -%>
<div class="method-entry">
    <h1 class="page-ttl"><%- __('purchase.method.entry.page_ttl') %></h1>
    <p class="read"><%- __('purchase.method.entry.read') %></p>
    <div class="button-area clearfix">
        <div class="close-link"><a class="icon-close window-close" href="#"><%- __('common.close') %></a></div>
    </div>
</div>