<% layout('layout') -%>
<h1>券種選択</h1>

<form method="post">
    <div>
        <button class="next" type="submit">次へ</button>
        <button class="prev" onclick="history.back();">戻る</button>
    </div>
    <input type="hidden" name="token" value="<%= token %>">
</form>