.setting {
    .form-layout {
        dl {
            dt {
                width: 240px;
            }
            dd {
                width: 560px;
            }
        }
    }
    .certificate {
        text-decoration: underline;
    }
}