.purchase-overlap {
    .table-layout {
        width: 1000px;
        border-radius: 5px;
        dl {
            dt {
                width: 400px;
            }
            dd {
                width: 600px;
            }
        }
    }
}