
<% 
//座席の大きさ
const seatSize = { w: 40, h: 50 };

//座席同士の間隔
const seatMargin = { w: 2, h: 20 };

//通路大きさ
const aisle = { w: 48, h: 50 }

//y軸ラベル
const labels = [];
const startLabelNo = 65;
const endLabelNo = 91;
for (let i = startLabelNo; i < endLabelNo; i++) {
    labels.push(String.fromCharCode(i));
}

//座席ラベル位置
const seatLabelPos = 50;
//座席番号位置
const seatNumberPos = 50;

//半角 => 全角
function toFullWidth(value) {
    return value.replace(/./g, (s) => {
        return String.fromCharCode(s.charCodeAt(0) + 0xFEE0);
    });
}

//ポジション
let pos = {
    x: 0,
    y: 0
};

//HTML
let seatNumberHtml = [];
let seatLabelHtml = [];
let seatHtml = [];
let labelCount = 0;

for (let y = 0; y < data.length; y++) {
    if (y === 0) pos.y = 0;
    //ポジション設定
    if (y === 0) {
        pos.y += start.y;
    } else if (data[y].length === 0) {
        pos.y += aisle.h;
    } else {
        labelCount++;
        pos.y += seatSize.h + seatMargin.h;
    }
    
    for (let x = 0; x < data[y].length; x++) {
        if (x === 0) pos.x = start.x;
        
        //座席ラベルHTML生成
        if (x === 0) {
            seatLabelHtml.push(`
                <div class="object label-object" style="top:${pos.y}px; left:${pos.x - seatLabelPos}px">${labels[labelCount]}</div>
            `);
        }
        //座席番号HTML生成
        if (y === 0) {
            seatNumberHtml.push(`
                <div class="object label-object" style="top:${pos.y - seatNumberPos}px; left:${pos.x}px">${x + 1}</div>
            `);
        }
        if (data[y][x] === 1 || data[y][x] === 4 || data[y][x] === 5) {
            //座席HTML生成
            const code = `${toFullWidth(labels[labelCount])}－${toFullWidth(String(x + 1))}`; //Ａ－１９
            const label = `${labels[labelCount]}${x + 1}`;
            seatHtml.push(`
                <div class="seat seat-normal" style="top:${pos.y}px; left:${pos.x}px">
                    <a href="#" data-seat-code="${code}"><span>${label}</span></a>
                </div>
            `);
        }
        //ポジション設定
        if (data[y][x] === 2) {
            pos.x += aisle.w + seatMargin.w;
        } else if (data[y][x] === 3) {
            pos.x += aisle.w - seatSize.w + seatMargin.w;
        } else if (data[y][x] === 4) {
            pos.x += aisle.w + seatSize.w + seatMargin.w;
        }  else if (data[y][x] === 5) {
            pos.x += aisle.w - seatSize.w + seatSize.w + seatMargin.w;
        } else {
            pos.x += seatSize.w + seatMargin.w;
        }
    }
}
%>
<% for (let html of seatNumberHtml) { %>
<%- html %>
<% } %>
<% for (let html of seatLabelHtml) { %>
<%- html %>
<% } %>
<% for (let html of seatHtml) { %>
<%- html %>
<% } %>
