
<div class="modal" data-modal="backToTop">
    <div class="inner">
        <div class="modal-ttl large-text text-center mb-middle"><strong><%- __('navigation.modal.back_to_top.ttl') %></strong></div>
        <p class="mb-middle text-center"><%- __('navigation.modal.back_to_top.text') %></p>
        <div class="button small-button gray-button"><a class="center" href="/"><%- __('navigation.modal.back_to_top.button') %></a></div>
    </div>
    <div class="close-button">
        <a class="modal-close" href="#"></a>
    </div>
</div>